* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --background-color: #061c3d;
  --text-color: #ffffff;
  --main-color: #ffeb3b;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar-main {
  width: 100%;
  height: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Menambahkan padding pada navbar */
  z-index: 1000; /* Memastikan navbar berada di atas elemen lain */
}

.logo {
  color: var(--text-color);
  margin-left: 20px; /* Mengurangi margin kiri */
  font-size: 1.5rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.logo:hover {
  color: var(--main-color);
}

.navbar-links {
  display: flex;
  padding: 0; /* Menghapus padding */
}

.navbar-links li {
  margin: 0 15px; /* Mengurangi margin antar link */
}

.navbar-links a {
  color: var(--text-color);
  position: relative;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: transform 0.5s ease, color 0.5s ease;
}

.navbar-links li:hover a {
  color: var(--main-color);
}

.navbar-links li:hover a::after {
  transform: scaleX(1);
}

.search-game {
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  border-radius: 5px;
  padding: 5px; /* Mengurangi padding untuk membuat elemen lebih kecil */
  width: 250px; /* Mengurangi lebar menu pencarian */
  transition: background-color 0.3s ease;
}

.search-game:hover {
  background-color: #424242;
}

.search-game input[type="text"] {
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
  flex-grow: 1;
  padding: 5px;
  font-size: 0.9rem; /* Mengurangi ukuran font */
}

.search-game i {
  color: #ffffff;
  margin-left: 8px; /* Mengurangi jarak antara input dan ikon */
  transition: color 0.3s ease;
  cursor: pointer;
}

.search-game i:hover {
  color: #00e676;
}

/* Responsiveness */
@media (max-width: 768px) {
  .navbar-main {
    padding: 10px; /* Mengurangi padding pada navbar di layar kecil */
    flex-direction: column; /* Mengubah arah flex untuk tampilan vertikal */
    align-items: flex-start; /* Menyelaraskan elemen ke kiri */
  }

  .navbar-links {
    display: none; /* Sembunyikan navbar secara default */
    flex-direction: column; /* Ubah menjadi kolom saat ditampilkan */
    position: absolute; /* Posisi absolut untuk menampilkannya di atas konten lainnya */
    background-color: var(
      --background-color
    ); /* Latar belakang sesuai navbar */
    top: 60px; /* Jarak dari atas navbar */
    right: 20px; /* Jarak dari sisi kanan */
    width: 200px; /* Lebar menu */
    border-radius: 5px; /* Sudut membulat */
    z-index: 1000; /* Memastikan menu di atas konten lain */
  }

  .navbar-links.active {
    display: flex; /* Tampilkan navbar links saat menu aktif */
  }

  .navbar-links li {
    margin: 10px 0; /* Margin untuk item list */
  }

  .search-game {
    width: auto; /* Membuat lebar pencarian otomatis */
    margin-left: 10px; /* Memberikan jarak antara pencarian dan link */
  }

  .menu {
    cursor: pointer; /* Mengubah kursor untuk menunjukkan elemen interaktif */
    margin-left: 10px; /* Memberikan jarak antara ikon menu dan pencarian */
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem; /* Mengurangi ukuran font logo di layar kecil */
  }

  .search-game input[type="text"] {
    font-size: 0.8rem; /* Mengurangi ukuran font input di layar kecil */
  }

  .navbar-links li {
    margin: 0 5px; /* Menambahkan margin lebih kecil untuk layar sangat kecil */
  }
}
